@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --content-font:'open-sans',Sans-serif;
  --color0:#007DB8;
  --color1:#EFEFEF;
  --color2:#454545;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--content-font);
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  color: #fff;
}
article.first-content-bg{
  background-image: url("../media/background0.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 20px;
  height: 800px;
}
img.logo{
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
  object-fit: cover;
  object-position: center;

}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.content-text{
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  object-position: center;
  text-align: right;
}

div.content-text>p{
  font-size: max(1.2em, 2.4vw);
}
div.content-text>h1{
  font-size: max(2.1em, 4vw);
} 
.content-button{
  width: 180px;
  padding: 20px;
  background-color: var(--color0);
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 25px 0;
  margin-left: calc(100% - 180px);
  box-shadow: 0 30px 45px 0 #00000088;
}
.laptop{
  width: 100%;
  max-width: 600px;
  max-height: 398px;
  object-fit: cover;
  object-position: center;
}


/*cookies*/
div.cookies{
  position: fixed;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0px 45px 0 rgba(0, 0, 0, 0.200) ;
  left: 50%;
  top: 92vh;
  transform: translateX(-50%);
  background-color: #fff;
}
p.message{
  display: inline-block;
  font-size: 0.8em;
  color: #000;
}
.cookies-button{
 margin: 0 0 0 10px;
 background-color: var(--color0);
 color: white;
 border: none;
 padding: 5px;
 border-radius: 3px;
 font-weight: bold;
 cursor: pointer;
}

