@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;900&display=swap');
:root{
    --cor0:#262626;
    --cor1:#0D0D0D;
    --cor2:#4BF2F2;
    --cor3:#41CAD9;
    --cor4:#277A8C;

    --font1:'Outfit', sans-serif;
    --font2:Arial;
}
*{
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    background-color: var(--cor0);
    color: white;
    font-family: var(--font1);
    margin-left: 2vw;
}

/*Header*/
header{
    margin: 20px;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav > .jld img{
    border-radius: 20px;
    
}
nav .links{
    margin-top: 1vh;
    flex-wrap: wrap;
}
#home{
color: var(--cor2);
}

nav > div>  a{
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0px 10px 5px 10px;
}

/*Main*/

main > article > .content > h1{
    margin: 10px;
    animation: sidemove 1.5s ease 0.7s;
    transition: 0.5s;
   
}
main >article >.content > p#hi{
    margin: 10px 20px;
    animation: sidemove 1.5s ease;
    transition: 0.5s;

}
/*article*/
article{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
article > content{
    width: 340px;
}

article > div >p{
    margin-left: 2vw;
}
article button{
    margin: 10px;
    margin-left: 2.5vw;
}

.content > h1{
    font-size:5.5em;
    
}
#h1edit{
    color: rgb(196, 195, 195);
}
.emp{
    font-size: 2em;
    line-height: 35px;
    animation: sidemove 1.5s ease 0.9s;
    transition: 0.5s;
}
#emp1,#emp2{
    color: var(--cor2);
}
.btn{  
    margin: 20px 0 0 5vw;
    background-color: var(--cor2);
    width: 120px;
    height: 55px;
    border-radius: 40px;
    border: none;
    animation: sidemove 1.5s ease 0.9s;
    transition: 0.5s;
    
}
.btn>a{
    font-family: var(--font1);
    font-size: 1.4em;
    text-decoration: none;
    color: purple;
}
.image{
    margin: 0px 6vw 0px 20vw;
    width: 100%;

    
}
.imageAdj{
    width: 100%;
}



/*Other Elements*/



/*Animations*/
nav a:hover{
    text-decoration: underline;
}

.btn:hover{
    background-color: var(--cor4);
    transition: 500ms;
}
.btn>a:hover{
        color: white;
        text-decoration: underline;
}
@keyframes sidemove{
    0%{
        transform: translateX(-20px);
        opacity: 0%;
    }
    15%{
        opacity: 100%;
    }
    100%{
        transform: translateX(0px);
    }
   


}
/*Rules*/
@media only screen and (max-width:500px){
    .image{
        display: none;
    }
}